/linked-home/config/.mono
/linked-home/config/Battle.net
/linked-home/config/configstore
/linked-home/config/filezilla
/linked-home/config/gtk-2.0
/linked-home/config/inkscape
/linked-home/config/iterm2
/linked-home/config/jgit
/linked-home/config/karabiner
/linked-home/config/micro/buffers/**
/linked-home/config/micro/backups/**
/linked-home/config/xbuild
